.clear-container{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15% 3%;
   
}

.clear{
background-color: #8353ba;
color: white;
border: none;
border-radius: 4%;
width: 25%;
height:3.6vh;
cursor: pointer;
margin-right: -10%;
box-shadow:4px 4px 4px rgba(0, 0, 0, 0.2) ;

}